.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: auto;
    margin-bottom: 0;
}

h1 {
    font-size: 2.925rem;
    margin-bottom: 39px;
}

form {
    display: flex;
    flex-direction: column;
    width: 585px;
    align-items: center;
}

label {
    margin-bottom: 15.6px;
    font-size: 20px;
}

input {
    padding: 13px;
    margin-bottom: 31.2px;
    font-size: 17px;
}

.btn-login {
    padding: 19px;
    background-color: #007bff;
    color: #000000;
    border: none;
    cursor: pointer;
    width: 240px;
    display: block;
    margin: 20px auto;
    border-radius: 7px;
    font-size: 19px;
}

.btn-login:hover {
    background-color: #0056b3;
}
